* {
  font-family: 'Permanent Marker', cursive;
}

.navbar-toggler {
  height: 40px;
}

.main {
  background-color: rgba(103, 103, 114, 0.472);
}

.leftSide {
  width: 300px;
}

button {
  height: 40px;
}

.scores {
  box-shadow: 0 0 40px 20px rgba(33, 33, 36, 0.62);
  color: white;
  overflow-y: scroll;
  height: 400px;
}

.scores::-webkit-scrollbar {
  width: 8px;
}

.scores::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);
}

.scores::-webkit-scrollbar-thumb {
  background-color: #ffc107;
  border-radius: 20px;
}

.scores > li {
  width: 90%;
  list-style: none;
}

.user-info {
  margin: 10px 0;
  border-radius: 5px;
  background-color: #ffc107;
  border: none !important;
}

.icon {
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) {
  .main {
    width: 75% !important;
    display: flex;
    flex-direction: row !important;
    align-items: start !important;
  }

  footer > .navbar > li {
    margin: 0 30px;
  }
}

@media (min-width: 1200px) {
  .main {
    width: 50% !important;
  }
}
